*{
    Box-sizing: border-box;
    font-family: sans-serif;
}

body{
    
    margin:0;
    
    background-image: url("../images/micro_carbon.png")
    
    
}

header {
    background-color: #3e3e3f;
    color: white;
    padding: .5rem;
    justify-content: center;
}
h1 {font-size: 1.125rem;
    color: white;
}
h2 {
font-size: 1.5rem;
color: white;
padding: .5rem;}
h3 {font-size: 1.25rem;}
img { 
    max-width: 100%;
}
.circle {
    border-radius: 50%;
    border: 5px solid #9abcf8
}
.center {
    text-align: center;
}
a:link, a:visited{
     color:#9abcf8;
     text-decoration:none;
}
a:hover{
    color:#6b95dd;
    text-decoration:underline;
}
/*********Layout**********/
.container {
    background-color: rgb(78, 78, 80);
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    Width: min(95%, 75rem);

}
.container>*{
    grid-column: span 12;
}

    .headingcontainer>*{
justify-content: right;
    }



    /*********Navigationusingflexbox**********/
    nav{
        background-color:rgb(71, 2, 2);
        padding: 0 1rem;
        display: flex;
        justify-content: left; 
        position: sticky;
        top: 0;


    }
    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;

    }
    nav a:link, nav a:visited{
        color: rgb(247, 244, 244);
        text-decoration: none;
        font-size: 1.125rem;
        padding: 1rem;
        display: block;
        transition:ease-in-out 250ms; 

    }
    nav a:hover{
        background-color:#232324;
        color: white;

    }
    /*********Compenents**********/

    .button:link, .button:visited{
        color:white;
        background-color: #232425;
        padding: 1rem 1.75rem;
        text-align: center;
        text-decoration: none;
        border-radius: .5rem;
        box-shadow: 0 .125rem .5rem rgba(0,0,0,.15);
        display: inline-block;
        margin: 0.25rem .25rem 0;
        transition: background-color 0.5s ease; 
    }
    .button:hover{
        background-color: #fc0606;
    }

.card {
    text-align:center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0.125 rem .5rem rgba(0,0,0,.15)
}
.card-title{
    margin: 0.75 rem 0 0 0;
    padding:0.2rem 0.5rem;
}
.card-text{
    margin: 0.5 rem 0 1rem 0;
    padding:0.2rem 0.5rem;
}

    /* Desktop Layout */
@media screen and (min-width: 40rem) {
    .col-span-8{
        grid-column:span 8;
    }
        .col-span-4{
            grid-column:span 4;
        }
        .col-span-10{
            grid-column:span 10;          
        }
        .col-span-2{
            grid-column:span 2;
        }
        .col-span-9{
            grid-column:span 10;          
        }
        .col-span-2{
            grid-column:span 3;
        }
        .col-span-6{
            grid-column:span 6;
        }
    }

.work-section{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.card {
    flex-basis: 27.5%;
}
.header{
    justify-content: center;
    flex-basis: 5%
}
.footer{
    background-color:rgb(71, 2, 2);
    height: 4.8rem; 
}